:root {
  --lightblue: #389bfd; /*#1133cc*/
  --darkblue: #01458a;
  --orpink: #ca1f1f;
  --yellowalert: #faf7c8;
  scroll-behavior: auto;
  --swiper-theme-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(242, 245, 250);
  font-size: 1rem;
  color: rgb(72, 84, 97);
  font-family: Helvetica, Verdana, Geneva, sans-serif;
}
/*div {
  position: relative;
}*/
/*a {
  font-size: 12px;
}*/
hr {
  margin: 0px;
}
.main-container {
  padding-top: 60px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

ul {
  list-style: none;
}
i {
  font-weight: 600;
}

.mw240 {
  min-width: 240px;
  /*width: 240px;*/
}

.swiper-button-prev,
.swiper-button-next {
  text-shadow: 0px 2px lightgray;
}
.swiper-pagination-bullet {
  text-shadow: 0px 2px lightgray;
  border: 1px solid lightgray;
}

/*li span {
  position: relative;
  left: -2px;
}*/

/*.nav_bigblock {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 2rem;
  padding: 1rem;
}*/
/*.header_name {
  flex-grow: 100;
  color: white;
  padding: 0 1rem;
  flex-direction: column;
  align-items: flex-start;
}
.header_myname {
  font-size: 20px;
}
.header_occupation {
  font-size: 14px;
}*/
/*.section_head {
  font-size: 30px;
  font-weight: 200;
  text-align: left;
  padding: 15px;
}
.section_head_also {
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  padding: 10px 015px;
}*/
/*.item_cont {
  background-color: white;
}
.item_top {
  min-height: 50px;
}*/
/*.item_logo {
  display: flexx;
  width: 33%;
  padding-right: 1rem; 
  text-align: center;
  justify-content: center;
}*/

/*.item_info {
  width: 66%;
}*/
/*.item_vr {
  width: 1px;
}*/
/*.item_logo_also {
  flex: 0 0 auto;
  width: 50%;
}*/
/*.item_desc {
  text-align: left;
  padding: 15px;
}*/
/*.item_link_cont {
  position: relative;
  padding-top: 10px;
  overflow: hidden;
  text-align: left;
  min-height: 10px;
}
.item_link_cont::after {
  padding-top: 10px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 1) 90%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "➜";
  padding-right: 15px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}*/
/*.item_logo img {
  max-height: 60px;
}*/
/*.item_head {
  font-size: 20px;
  font-weight: 800;
}*/
/*.item_tag {
  display: inline-block;
  padding: 4px 10px 5px 10px;
  background-color: gray;
  color: white;
  border-radius: 15px;
  margin: 0px 2px 4px 2px;
}*/

.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 2000px;
}
/*.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /*display: inline-flex;*/
  /*margin-left: -15px; */ /* gutter size offset */
  width: auto;
  /*gap: 15px;*/
}
.my-masonry-grid_column {
  padding: calc(var(--bs-gutter-x) * 0.25); /*7.5px;*/
  background-clip: padding-box;
  /*box-sizing: border-box;*/
}

/* Style your items */
.my-masonry-grid_column > .dddiv {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  /*margin-bottom: 30px;*/
}
